<!DOCTYPE html>
<html>

<head>
    <title>AVON Login</title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container fullHeight valign-wrapper">
        <div class="row fullWidth">
            <div class="col s6 offset-s3">
                <div class="card-panel grey lighten-4">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s12 ">
                            <a class="waves-effect waves-light btn fullWidth" id="signupBtn">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/sciprt.js"></script>
</body>

</html>